#div_chat_title {
  background-color: #00A5CF73;
  height: 60px;
  flex: 1;                 /* prend tout l'espace restant à droite */
  min-width: 0;            /* essentiel pour que flex-item respecte l'ellipsis */
  overflow: hidden;
}


#chat_title {
  white-space: nowrap;      /* nécessaire pour text-overflow */
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  width: 100%;
}
