<h1 class="px-4">GuAIde</h1>

<div class="container py-5" style="max-width: 800px;">
  <h2 class="text-center mb-4" id="chat_title" >
    <%= @chat.title if @chat.title != "Untitled" %>
  </h2>

  <div id="messages" class="border rounded p-3 mb-4 bg-light" style="height: 400px; overflow-y: auto;">
    <%= render "messages/messages", messages: @chat.messages, trip: @trip %>
  </div>

   <div id="new_message">
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>

  <%= link_to "⬅️ Back to activities", activities_path, class: 'btn btn-success mt-4' %>
</div>
