  /* app/assets/stylesheets/_brand.scss */
:root{
  --brand-900:#004E64; /* deep teal */
  --brand-700:#25A18E; /* teal (optionnel) */
  --brand-600:#00A5CF; /* cyan (CTA) */
  --brand-400:#7AE582; /* light green (optionnel) */
  --brand-200:#9FFFCB; /* mint */
}
